*:not(body):not(html) {
  box-sizing:border-box;

}
div {
  min-height: 100px;
}
body {
  margin: 0;
}
h1{
  font-size:6.75vw;
  line-height: 6.75vw;
}
li {
  list-style: none;
  display: inline;
  font-size: 4vw;
}
nav a{
  margin: 2vw;
  background-color: #000;
}
img {
  width: 100%
}

ul {
  padding-left: 0;
  margin:0
}
.feature-text {
  border-color: red;
  width: 100vw;
  height:16vh;
  padding-top:1.5vh;
  padding-bottom: 1.5vh;
}
.feature-text h1{
  width:90vw;
  max-height: 6.5vh;
  margin-left: 5vw;
  margin-top: 0;
  margin-bottom: 0;
}
.gallery {
  width: 100vw;
  height: 100vh;
}

/*media queries*/

/*phone*/
@media screen and (max-width:599px) {
  body{
    background-color: pink;
  }
  .header {
    width: 100vw;
    height: 12vh;
    margin-left: 5vw;
    margin-top:4vh;
  }
  nav{
    float:left;
  }

h1{
    font-size: 7vw;
  }

.feature-text{
  height: 16vh;
  padding-top: 4vh;
}

.feature-text h1{
  margin-bottom: 1vh;

}

  .item {
    min-height: 20vh;
    width: 80%;
    margin-left:10%;
    margin-right: 10%;
    margin-bottom: 2vh;
  }
}

/*tablet*/
@media screen and (min-width:600px) and (max-width: 1199px) {
  body{
    background-color: orange;
  }

  .header{
    margin:0;
    width: 100vw;
    height: 12vh;
    padding: 3.5vh 2vw 3.5vh 2vw;
  }

  .header h1 {
    display: inline;
  }
  nav ul{
    display: inline;
  }
  nav li{
    float: right;
  }
  .item {
    width: 42vw;
    float: left;
    margin: 0 0 3vh 5vw;
  }
}
/*desktop*/
@media screen and (min-width:1200px){
  body{
    background-color: lightblue;
  }
  .header{
    margin:0;
    width: 100vw;
    height: 12vh;
    padding: 3.5vh 2vw 3.5vh 2vw;
  }
  .header h1 {
    display: inline;
    margin-left: 4vw;
   }
  nav ul{
    display: inline;
  }
  nav li{
    float: right;
  }
  .item {
    width: 19.5vw;
    float: left;
    margin: 0 0 3vh 4vw;
  }

}
